body {
    padding:0px;
    margin:0px;
}

#example td,tr,th{
    border: 1px solid #ddd;
    border-collapse: collapse;
    vertical-align: middle !important;
    text-align: center;
    font-family: Lora;
    color: #777777;
}

.noborder td,tr{
    border: none !important;
}
.noborder tr{
    border-bottom: 1px solid #EAAEEE !important;
}
.noborder td{
    height: 40px;
    text-align: left !important;
}
label{
    vertical-align: middle;
}
th{
    font-size: 16px;
    background: white;
}
.expandrow{
    padding-top: 10px;
    text-align: left !important;
}
.top{
    display: inline-block;
    float:left;
}
.searchbox{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}
.searchbox input{
    width: 220px;
}
#quick-access{
    text-align:center
}
.quick-search-form .form-control {
height: 35px;
padding: 8px 15px;
color: #a4a4a4;   /* change  color of text to be typed inside search box */
font-size: 13px;
width: 250px;   
line-height: 20px;
background-color: transparent;
border: 1px solid #ccc;
border-radius: 5px !important;
-webkit-box-shadow: none;
box-shadow: none;
}





.custom-glyph-color{
    color:#fff;       /* change  magnifying glass color in  button */
}

.hover:hover{
    background: #E6F5D6;
}



.even{
    background-color: #F9F9F9;
}
.odd{
    background: #ECF0F5;
}
.form-group{
    height: 40px;
}
.dactinh{
    margin-bottom: 20px;
    height: 100px;
}
#ghichu{
    height: 100px;
}
.tab-content{
    margin-top: 20px;
}
.fa{
    font-size: 25px;
}
.minus{
    color: red;
}
.plus{
    color: #00acd6;
}
.expand{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.chitiet{
    text-align: left;
    font-family: Time New Romans;
    font-weight: normal;
}
fieldset {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}
legend{
    padding: 2px;
    width: auto;
    border: none;    
    color: #00acd6;
}
.first{
    width: 33%;
}
.second{
    width: 40%;
}
.third{
    width: 22%;
}
.padding{
    padding-top: 6px;
}
.addnew{
    margin-top: 10px;
}
.edit{
    margin-top: 10px;
    text-align: center;
}


.btn-success{
    background-color: green !important;
    border-color: green !important;
}
.btn-warning
{
    background: none !important;
    border: none !important;
    color: red;
}
.small{
    font-size: 20px !important;
}
.tbody{
    border: none !important;
}

.table .table{
    background: none !important;
}
.text-left{
    text-align: left !important;
    padding-left: 10px !important;
}

#example tr th{
    position: relative;
}


#example tr th span {
    position: absolute;
    bottom: 100%;
    display: block;
    font-size: 12px;
    font-family: 'Times New Roman';
}